@import url('./variables.css');
.app-root {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: #0d0d0d;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.topbar {
  height: var(--topbar-height);
  display: flex;
  gap: var(--gap);
  width: 100%;
  box-sizing: border-box;
}

.topbar-left {
  display: flex;
  width: var(--left-width);
  min-width: 220px;
  padding-left: 12px;
  box-sizing: border-box;
  display: flex;
}
.topbar-right {
  width: var(--right-width);
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.topbar-logo {
  height: 64px;
  width: auto;
  display: block;
}

.app-container {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  height: calc(100vh - var(--topbar-height));
  width: 100%;
  box-sizing: border-box;
  background-color: #0d0d0d;
}

/* Left column (1/3 width) */
.col-left {
  width: var(--left-width);
  min-width: 220px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  overflow: auto;
  margin-bottom: 40px;
}

/* Right column (2/3 width) */
.col-right {
  width: var(--right-width);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.titlebox {
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: end;
}
.titlebox > h1 {
  font-size:x-large;
  margin: 0;
}

.info-container {
  display: flex;
  flex-direction: row;
  height: 40vh;
}

.some-container {
  position: relative;
  margin-left: 12px; 
  width: 80%;
  display: flex;
  flex-direction: column;
}
.slack-box {
  min-height: 15vh;
  border-radius: var(--border-radius-lg);
  background-color: #5E2A5F;
  border: 5px solid white;
  overflow: hidden; /* ensures image respects rounded corners */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slack-photo {
  width: 100%;
  height: auto;
  padding: 30px; /* slight padding on the sides */
  object-fit: contain; /* keeps full image visible */
  display: block;
}

.insta-box {
  margin-bottom: 12px;
  min-height: 15vh;
  border-radius: var(--border-radius-lg);
  background-color: #252728;
  overflow: hidden; /* ensures image respects rounded corners */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.insta-title-photo {
  height: 12%;
  margin-bottom: 5%;
  width: auto;
  object-fit: contain; /* keeps full image visible */
  display: block;
}

.insta-photo {
  width: auto;
  height: 70%;
  object-fit: contain; /* keeps full image visible */
  display: block;
  align-self: flex-start;
  margin-left: 30px
}

.image-box {
  width: 100%;
  position: relative;
  background-image: url('/image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: flex;
  align-items: flex-end;      /* tekst nederst */
  padding: 24px;              /* luft rundt tekst */
  border: 0;
  border-radius: var(--border-radius-lg);
}

.image-content {
  color: white;
  background-color: rgba(0,0,0,0.1);
  text-shadow: 0 3px 6px rgba(0,0,0,0.9);
  max-width: 90%; /* optional, for bedre linjelengde */
}

.image-content h1 {
  margin: 0 0 12px 0;
}

.image-content p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}


@media (min-width: 1000px) {
  .image-content > h1, .titlebox > h1{ font-size: 1.8rem;}
  .image-content > p {font-size: 1.5rem;}
  .topbar-logo { height: 64px; }
}

@media (min-width: 1800px) {
  .image-content > h1, .titlebox > h1{ font-size: 1.2rem;}
  .image-content > p {font-size: 1.2rem;}
  .topbar-logo { height: 100px; }
}

@media (min-width: 2500px) {
  .image-content > h1, .titlebox > h1{ font-size: 2.0rem;}
  .image-content > p {font-size: 2rem;}
  .topbar-logo { height: 100px; }
}

@media (min-width: 3200px) {
  .image-content { text-shadow: 0 10px 10px rgba(0,0,0,0.9);}
  .topbar-logo { height: 100%; width: auto; }
  .image-box { padding: 20px;}
  .col-left { padding: 30px; gap: 30px; }
  .topbar-left {padding-left: 30px; }
  .titlebox > h1{ font-size: 3rem; margin-bottom: 20px; margin-top:10px;}
  .some-container { margin-left: 30px; }
  .insta-box { margin-bottom: 30px;}
}

@media (orientation: portrait), (max-width: 800px) {
  .app-container {
    flex-direction: column;
    height: calc(100vh - var(--topbar-height));
  }

  .col-left,
  .col-right {
    width: 100%;
    height: calc((100vh - var(--topbar-height)) / 2);
    min-width: 0;
  }

  /* right column above left column */
  .col-right {
    order: 1;
  }
  .col-left {
    order: 2;
  }

  .col-left,
  .col-right {
    padding: 8px;
  }

  .topbar {
    padding: 0 10px;
  }

  .topbar-logo {
    height: 64px;
  }
}