@import url('./variables.css');
@import "tailwindcss";

@font-face {
  font-family: 'OCR A Extended';
  src: url('/src/assets/fonts/ocraext.ttf') format('truetype');
}

html {
  font-size: var(--font-size-md);
}

body {
  line-height: 1.3;
  font-family: Inter, sans-serif;
  background: var(--lego-background-color);
  color: var(--lego-font-color);
  transition: color var(--linear-medium);
  position: relative;
}