:root {
  color-scheme: light;

  --lego-background-color: #0d0d0d;
  --lego-card-color: #222;
  --lego-card-transparent: rgba(34, 34, 34, 0.9);

  --secondary-font-color: #aaa;

  --lego-red-color: var(--color-red-7);

  --success-color: var(--color-green-5);

  --color-event-black: #ddd;
  --color-white: #181818;
  --color-black: #fff;

  --rgb-max: 0;
  --rgb-min: 255;

  --low-alpha: 10%;

  --color-gray-1: #0d0d0d;
  --color-gray-2: #373737;
  --color-gray-3: #595959;
  --color-gray-4: #757575;
  --color-gray-5: #8c8c8c;
  --color-gray-6: #b6b6b6;
  --color-gray-7: #d9d9d9;
  --color-gray-8: #e7e7e7;
  --color-gray-9: #f2f2f2;

  --color-blue-1: #102a47;
  --color-blue-2: #0f3158;
  --color-blue-3: #0d3868;
  --color-blue-4: #0a4281;
  --color-blue-5: #0952a5;
  --color-blue-6: #0072f5;
  --color-blue-7: #3694ff;
  --color-blue-8: #3694ff;
  --color-blue-9: #eaf4ff;

  --color-orange-1: #402803;
  --color-orange-2: #583804;
  --color-orange-3: #704705;
  --color-orange-4: #845306;
  --color-orange-5: #a66908;
  --color-orange-6: #f5a524;
  --color-orange-7: #f6ad37;
  --color-orange-8: #f8c572;
  --color-orange-9: #fef7ec;

  --color-green-1: #06381b;
  --color-green-2: #074a24;
  --color-green-3: #0a6130;
  --color-green-4: #0b7439;
  --color-green-5: #0f9549;
  --color-green-6: #17c964;
  --color-green-7: #41ec8b;
  --color-green-8: #78f2ad;
  --color-green-9: #ecfdf4;

  --color-red-1: #400101;
  --color-red-2: #730202;
  --color-red-3: #a10d0d;
  --color-red-4: #b21c17;
  --color-red-5: #be1a17;
  --color-red-6: #c81917;
  --color-red-7: #e21617;
  --color-red-8: #e52d2e;
  --color-red-9: #e9494a;

  --color-purple-1: #440d66;
  --color-purple-2: #62189b;
  --color-purple-3: #8120c9;
  --color-purple-4: #a020fa;
  --color-purple-5: #b94cfb;
  --color-purple-6: #cc79fc;
  --color-purple-7: #dba7fd;
  --color-purple-8: #e8d4fe;
  --color-purple-9: #f4eaff;

  --color-yellow-1: #926c15;
  --color-yellow-2: #a47e1b;
  --color-yellow-3: #b69121;
  --color-yellow-4: #c9a227;
  --color-yellow-5: #dbb42c;
  --color-yellow-6: #edc531;
  --color-yellow-7: #fad643;
  --color-yellow-8: #ffe169;
  --color-yellow-9: #fff9cc;

  /*
   * All spaces are set to an increment of 8, following the design principles
   * described here: https://uxplanet.org/spacing-guide-for-designers-5bd140afe52a
   */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --font-size-xs: 0.7rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.875rem;

  --border-radius-sm: 0.3rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;

  --easing: cubic-bezier(0.35, 0, 0.65, 1);
  --easing-blazingly-fast: 30ms var(--easing);
  --easing-fast: 100ms var(--easing);
  --easing-medium: 200ms var(--easing);
  --easing-slow: 400ms var(--easing);

  --linear: cubic-bezier(0.1, 0, 0.9, 1);
  --linear-fast: 100ms var(--linear);
  --linear-medium: 200ms var(--linear);
  --linear-slow: 400ms var(--linear);

  --bounce: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

  --shadow-xs:
    0 2px 8px 1px rgba(104, 112, 118, 7%),
    0 1px 1px -1px rgba(104, 112, 118, 4%);
  --shadow-sm:
    0 2px 8px 2px rgba(104, 112, 118, 7%),
    0 2px 4px -1px rgba(104, 112, 118, 4%);
  --shadow-md: 0 12px 20px 6px rgba(104, 112, 118, 8%);
  --shadow-lg: 0 12px 34px 6px rgba(104, 112, 118, 18%);

  --shadow-bottom-md: 0 12px 8px -8px rgba(104, 112, 118, 8%);

  /* Overwritten by react-aria whenever used, defined here to avoid a warning */
  --visual-viewport-height: 0;
}